body {
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    padding: 0;
    margin: 0;
    background-color: #7e89a6;
}

/* Colors */
.lightNavy {
    color: #4f5f8c;
}

.lightNavyBG {
    background-color: #4f5f8c;
}

.lightGreen {
    background-color: #7ea69b;
}

.lightGreenBG {
    background-color: #7ea69b;
}

.lightPurple {
    color: #8d7ea6;
}

.lightPurpleBG {
    background-color: #8d7ea6;
}

/* Globals */
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
}

/* Header */
header {
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    color: whitesmoke;
}

/* Footer */
footer li {
    list-style: none;
    display: inline;
}

.large-icon {
    font-size: 3em;
}